.ad {
    width: 100%;
    min-width: 1400px;

    .single-item {
        margin: 0;

        .slick-slide {
            outline: none;
        }

        .slick-arrow {
            width: 15%;
            height: 100%;
            z-index: 1;

            &:hover,&:active,&.active {

                &::before {
                    background: $ad_arrow_baseActiveBG;
                }

                &::after {
                    border-color: $ad_arrow_ActiveBG;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 50px;
                height: 50px;
                background: $ad_arrow_baseBG;
                border-radius: 50%;
                opacity: 1;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%) rotate(-45deg);
                width: 8px;
                height: 8px;
                border: solid 6px $ad_arrow_BG;
                border-width: 6px 0 0 6px;
            }

            &.slick-prev {
                left: 0px;

                &::after {
                    left: 50.5%;
                }
            }

            &.slick-next {
                right: 0px;
                
                &::after {
                    left: 49.5%;
                    transform: translate(-50%,-50%) rotate(45deg) scaleX(-1);
                }
            }
        }

        .slick-dots {
            bottom: 15px;

            li {

                button {

                    &::before {
                        color: $ad_dot_BG;
                        opacity: 1;
                    }
                }

                &.slick-active {

                    button {

                        &::before {
                            color: $ad_dot_ActiveBG;
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }
}