.gameWrap {
    padding-bottom: 30px;

     //跑馬燈
     .marqueeArea {
        width: 100%;
        height: 50px;
        @include marquee;
        margin: 12px 0;

        .marquee_ic {
            width: 38px;
            height: 38px;
            margin-left: 5px;
            flex-shrink: 0;
        }

        .marquee {
            width: 100%;
            height: auto;
            overflow: hidden;

            p {
                display: inline-block;
                color: $mainFont_1;
                font-size: 14px;
                font-weight: bold;
                white-space: nowrap;
                animation: marquee 10s linear infinite;
                padding-left: 100%;
            }

            @keyframes marquee {
                0% {
                    transform: translate(0%);
                }

                100% {
                    transform: translate(-100%);
                }
            }
        }

        .marquee_base {
            width: 45px;
            height: 42px;
            border-radius: 0 12px 12px 0;
            flex-shrink: 0;
            margin-right: 5px;
        }
    }

    //主內容
    .content {
        width: 100%;
        min-width: 1400px;
        height: auto;
        margin-bottom: 48px;
        // padding-top: 70px;

        // &.slotPage {
        //     width: 1400px;
        //     height: auto;
        //     margin: 0 auto;
        // }

        .center {
            width: 1400px;
            height: auto;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            position: relative;

            .marqueeArea {
                position: absolute;
            }
        }

        .textBox {
            width: 630px;
            height: auto;
            padding-top: 120px;

            .infoBox {
                width: 100%;
                height: auto;
                border: 4px solid $mainBorder_3;
                padding: 40px 30px 30px;
                margin: 0 auto 50px;
                position: relative;

                &::before {
                    content: "";
                    width: 97%;
                    height: 93%;
                    border: 1.5px solid $mainBorder_3;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

                .deco {
                    width: 66px;
                    height: 66px;
                    display: flex;

                    align-items: center;
                    justify-content: center;
                    background: $decoCircle_BG;
                    border-radius: 50%;
                    position: absolute;
                    top: -33px;
                    left: 50%;
                    transform: translateX(-50%);

                    i {
                        width: 42px;
                        height: 27px;
                    }
                }
                
                .title {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-weight: bold;
                    background: $gameWrap_Linear;
                    -webkit-background-clip: text;
                    border-bottom: 2px solid $mainBorder_3;
                    margin: 0 auto;

                    .big {
                        font-size: 45px;
                        letter-spacing: 6px;
                        color: transparent;
                    }

                    .small {
                        color: #f6950e;
                        font-size: 28px;
                        font-weight: bold;
                        letter-spacing: 6px;
                        padding-bottom: 5px;
                        margin: 15px 0;
                    }
                }

                .mainCnt {
                    width: 90%;
                    color: $title_2;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: 1px;
                    line-height: 24px;
                    margin: 20px auto 0;
                }
            }
        }

        .btnBox {
            width: auto;
            height: auto;

            .innBox {
                width: 630px;
                height: auto;

                ul {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    
                    li {
                        width: auto;
                        height: auto;
                        cursor: pointer;
                        margin: 0 15px 15px 0;

                        p {
                            width: 100%;
                            text-align: center;
                            font-size: 14px;
                            color: $mainFont_1;
                            padding-top: 5px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    //slot+fish+board
    .slotCenter {
        width: 1400px;
        height: auto;
        margin: 0 auto;
        padding: 1px 0 0;

        .marqueeArea {
            margin-bottom: 12px;
        }

        .slotBody {
            background: $mainBG_3;
            border-radius: 5px;
            box-shadow: 0 5px 10px $mainShadow_1;

            .nav {
                margin: 0 26px;
                height: 70px;
                border-bottom: solid 1px $mainBorder_1;
                display: flex;
                align-items: center;
                justify-content: space-between;

                ul {
                    width: 100%;
                    height: 100%;
                    display: flex;

                    li {
                        color: $choose_Word;
                        width: auto;
                        height: calc(100% + 1px);
                        padding: 0 50px;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        border-bottom: solid 3px transparent;
                        cursor: pointer;
                        justify-content: center;
                        position: relative;
                        font-weight: bold;
    
                        &:hover,&:active,&.active {
                            color: $choose_Active;
                            border-color: $choose_Border;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 0px;
                                height: 0px;
                                left: 50%;
                                transform: translateX(-50%);
                                bottom: 0;
                                border-style: solid;
                                border-width: 0 6px 6px;
                                border-color: $choose_Border transparent;
                            }
                        }
                    }
                }

                .search {
                    position: relative;
                    width: auto;
                    height: auto;

                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 7px;
                        width: 20px;
                        height: 20px;
                    }

                    input {
                        width: 330px;
                        height: 40px;
                        @include mainInput;
                        padding-left: 30px;
                    }
                }
            }

            .gameBox {
                padding: 24px 48px 40px;

                .platformBox {
                    width: 100%;
                    height: auto;

                    .platforms {
                        margin-bottom: 50px;
                        // display: none;

                        // &.display {
                        //     display: block;
                        // }

                        .pfName {
                            width: 100%;
                            height: 70px;
                            margin-bottom: 15px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &.active {

                                .back {
                                    display: block;
                                }

                                .all {
                                    display: none;
                                }
                            }

                            .all,.back {
                                @include mainBtn;
                                width: 137px;
                                height: 40px;
                                font-size: 18px;

                                i {
                                    display: inline-block;
                                    width: 8px;
                                    height: 15px;
                                    transform: scaleX(-1);
                                    margin-left: 20px;
                                }
                            }
                            .back {
                                display: none;

                                i {
                                    margin: 0 20px 0 0;
                                    transform: scaleX(1);
                                }
                            }
                        }

                        .gameList {
                            width: 100%;
                            height: auto;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            overflow: hidden;
                            display: flex;

                            // &.active {
                            //     height: auto;
                            // }

                            li {
                                width: 250px;
                                height: 200px;
                                border: solid 1px $mainBorder_3;
                                border-radius: 5px;
                                overflow: hidden;
                                cursor: pointer;
                                box-sizing: border-box;
                                font-size: 0px;
                                position: relative;
                                margin: 0 13px 13px 0;

                                &:nth-of-type(5n) {
                                    margin-right: 0;
                                }

                                &:hover,&:active,&.active {
                                    
                                    .btnBox {
                                        opacity: 1;
                                    }
                                }

                                .textBox {
                                    width: 100%;
                                    height: 35px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    background: $mainBG_1;
                                    padding: 0 20px;
                                    box-sizing: border-box;
                                    border-top: 1px solid $mainBorder_3;                                    
                                    position: relative;
                                    z-index: 1;

                                    p {
                                        font-size: 18px;
                                        color: $mainFont_1;
                                    }

                                    .love {
                                        width: 23px;
                                        height: 21px;
                                    }
                                }

                                .btnBox {
                                    opacity: 0;
                                    position: absolute;
                                    width: 100%;
                                    height: 165px;
                                    background: $filter;
                                    top: 0px;
                                    left: 0px;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    justify-content: space-evenly;
                                    box-sizing: border-box;
                                    padding: 30px 0;
                                    transition: 0.3s all;

                                    button {
                                        width: 140px;
                                        height: 40px;
                                        @include slotBtn_1;

                                        &:last-child {
                                            @include slotBtn_2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}