.registerWrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .bigBox {
        width: 865px;
        display: flex;
        flex-direction: column;
        border-radius: 17px;
        overflow: hidden;
        box-shadow: 0 5px 10px -5px $mainShadow_1;

        .top {
            width: 100%;
            height: 93px;
            display: flex;
            align-items: center;
            justify-content: center;

            .registerLogo {
                width: 88px;
                height: 41px;
                object-fit: contain;
            }

            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;
                height: auto;
                font-size: 35px;
                font-weight: bold;
                letter-spacing: 2px;
                color: $mainFont_2;

                .person_ic {
                    width: 44px;
                    height: 44px;
                    margin-right: 15px;
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 32px 80px 37px;
            background: $mainBG_3;

            label {
                position: relative;
                margin-bottom: 19px;
                display: flex;
                justify-content: center;

                input {
                    width: 332px;
                    height: 41px;
                    @include mainInput;

                    &.linebar {
                        padding-left: 70px;
                    }
                }

                .err {
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    font-size: 12px;
                    font-weight: bold;
                    color: $remind;
                }

                .eye {
                    display: block;
                    width: 23px;
                    height: 17px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    cursor: pointer;
                }

                button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 86px;
                    height: 29px;
                    right: 11px;
                    @include borderBtn;
                }

                .platformChs {
                    position: absolute;
                    width: 58px;
                    height: 41px;
                    left: 0px;
                    top: 0px;
                    z-index: 2;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 5px;
                        background: $choose_Word;
                        -webkit-transform: rotate(45deg) translateY(-50%);
                        transform: rotate(45deg) translateY(-50%);
                        top: 50%;
                        right: 10px;
                        z-index: 2;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 5px;
                        background: $choose_Word;
                        -webkit-transform: rotate(-45deg) translateY(-50%);
                        transform: rotate(-45deg) translateY(-50%);
                        top: 50%;
                        right: 10px;
                        z-index: 2;
                    }

                    li {
                        width: 100%;
                        height: 100%;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        border: 1px solid #adadad;
                        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d9d9d9), color-stop(50%, #ededed), to(#fff));
                        background: linear-gradient(0deg, #d9d9d9 0, #ededed 50%, #fff);
                        border-radius: 5px;
                        display: none;
                        cursor: pointer;

                        &.display {
                            display: block;
                        }

                        span {
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 8px;
                            -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                            width: 27px;
                            height: 27px;
                        }
                    }
                }
            }

            .tips {
                width: 332px;
                font-size: 12px;
                font-weight: bold;
                color: $remind;
                text-align: left;
            }

            .checkBox {
                width: 332px;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 23px 0 32px;

                input {
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                }

                p {
                    font-size: 16px;
                    font-weight: bold;
                    color: $mainFont_1;

                    span {
                        color: $link;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .checkBtn {
                width: 332px;
                height: 41px;
                @include main_longBtn;


                &.getIn {
                    margin-top: 58px;
                }
            }
        }
    }
}